@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,700&display=swap&subset=cyrillic');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #a255f8;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper-title {
    font-weight: 100;
    margin-bottom: 100px;
    letter-spacing: 5px;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}

.wrapper > .timer {
    display: grid;
    min-width: 300px;
    width: 40%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    text-align: center;
    color: #fff;
    column-gap: 30px;
}

.wrapper > .timer > .timer-item {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}

.wrapper > .timer > .timer-item > .time-container {
    font-size: 3rem;
}

.wrapper > .timer > .timer-item > .timer-name {
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
}

@media screen and (max-width: 462px) {
    .wrapper-title {
        font-size: 1.5rem;
    }
}